<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Title</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="curve_chart" style="width: 1200px; height: 500px"></div>
<script>
    var date = (new Date()).toISOString().slice(0,10);
    var data_set1 = "rpi-wan-eth"
    var data_set2 = "pf-lan0"
    var data_set3 = "pf-lan1"
    var data_set4 = "pf-vpn0"

    google.charts.load('current', {'packages':['corechart']});
//    google.charts.setOnLoadCallback(drawChart);

    var data;
    var sorted_data = {}

    function update_data() {
        axios.get('/api/get_readings?date='+date)
        .then(function (response) {
            data = response['data']
            test()
        }).catch(function (error) {
            console.log(error);
        });

        function test() {
            console.log("I was called!")
            console.log(data);

            var cur;
            for(var i = 0; i < data.length; i++) { 
                cur = data[i]
                if(sorted_data[cur[0]] === undefined) {
                    sorted_data[cur[0]] = []
                }
                sorted_data[cur[0]].push([datetime(cur[1]), cur[3]/1024.0/1024.0]);
            }
        }
    }

    function datetime(dateString) {
        return dateString.split(" ")[1]
    }

    function drawChart2() {
        console.log(data_set1, data_set2)

        var data1 = new google.visualization.DataTable();
        data1.addColumn('string', 'X');
        data1.addColumn('number', data_set1);
        data1.addRows(sorted_data[data_set1] );
        console.log(data1)

        var data2 = new google.visualization.DataTable();
        data2.addColumn('string', 'X');
        data2.addColumn('number', data_set2);
        data2.addRows(sorted_data[data_set2] );
        console.log(data2)

        var data3 = new google.visualization.DataTable();
        data3.addColumn('string', 'X');
        data3.addColumn('number', data_set3);
        data3.addRows(sorted_data[data_set3] );
        console.log(data3)

        var data4 = new google.visualization.DataTable();
        data4.addColumn('string', 'X');
        data4.addColumn('number', data_set4);
        data4.addRows(sorted_data[data_set4] );
        console.log(data4)

        var joinedData = google.visualization.data.join(data1, data2, 'full', [[0,0]], [1], [1]);
        var joinedData = google.visualization.data.join(joinedData, data3, 'full', [[0,0]], [1,2], [1]);
        var joinedData = google.visualization.data.join(joinedData, data4, 'full', [[0,0]], [1,2,3], [1]);

        var options = {
            title: 'Network performance',
            //curveType: 'function',
            legend: { position: 'bottom' },
            interpolateNulls: true
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(joinedData, options);
    }
</script>
</body>
</html>
